
<% book.book_comments.each do |book_comment| %>
<p><%= image_tag book_comment.user.get_profile_image(100,100) %></p>
<%= link_to book_comment.user.name,user_path(book_comment.user) %>
<%= book_comment.comment %>
<% if book_comment.user == current_user %>
<%= link_to "Destroy", book_book_comment_path(book, book_comment), method: :delete, remote: true, class: "btn btn-sm btn-danger" %>
<% end %>
<% end %>

<%= form_with model: [book, book_comment], url: book_book_comments_path(book.id), local: false do |f| %>
<%= f.text_area :comment, rows: '5', size: "80x5" %>
<%= f.submit "送信" %>
<% end %>